<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.parent_app">

    <application
        android:name=".GlobalVariable"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="-家長版-Accompany Interaction"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Parent_app">
        <activity android:name=".give_back" />
        <activity android:name=".Contest" />
        <activity android:name=".record_interaction" />
        <activity android:name=".record_performance" />
        <activity android:name=".record_emotions" />
        <activity android:name=".for_test" />
        <activity android:name=".activity_child_emotions2" />
        <activity android:name=".activity_child_emotions3" />
        <activity android:name=".activity_child_emotions4" />
        <activity android:name=".child_emotions" />
        <activity android:name=".child_interaction" />
        <activity android:name=".child_performance" />
        <activity android:name=".login_page">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main" />
        <activity android:name=".manual" />
        <activity android:name=".record" />
        <activity android:name=".user" />
    </application>

</manifest>